
@{
    ViewData["Title"] = "BlogListExel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogListExel</h1>
<br />
@*<button class="btn btn-primary" onclick="DownloadExelBlogList">Download Exel List</button>*@
<a href="/Admin/Blog/ExportStaticExelBlogList" class="btn btn-primary">Download Exel List</a>
@*<script>
    function DownloadExelBlogList() {
        wind.open("/Admin/Blog/ExportStaticExelBlogList");
    }
</script>*@
