
@{
    ViewData["Title"] = "BlogTitleListExel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogTitleListExel</h1>
<a href="/Admin/Blog/ExportDinamicExelBlogList" class="btn btn-primary">Download Exel List</a>
